[Unit]
Description=Kraken CPU temperature control
After=multi-user.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/python3 /opt/pulley/pulley.py
StandardInput=tty-force

[Install]
WantedBy=basic.target

